<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Burgos CF Store</title>
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div id="wrap">
  <div class="header">
    <div class="logo"><a href="index.html"><img src="images/logo.png" alt="" border="0" /></a></div>
    <div id="menu">
      <ul>
        <li class="selected"><a href="index.html">INICIO</a></li>
        <li><a href="clothes.html">ROPA</a></li>
        <li><a href="accesories.html">ACCESORIOS</a></li>
        <li><a href="myaccount.html">MI CUENTA</a></li>
        <li><a href="contact.html">CONTACTO</a></li>
        <li><a href="cart.html">CESTA</a></li>
      </ul>
    </div>
  </div>
  <div class="center_content">
    <div class="left_content">
      <div class="title"><span class="title_icon"><img src="images/bullet0.jpg" alt="" /></span>ACCESORIOS</div>
      <div class="feat_prod_box">
        <div class="prod_img"><a href="#"><img src="images/flag.jpg" alt="" border="0" /></a></div>
        <div class="prod_det_box">
          <div class="box_top"></div>
          <div class="box_center">
            <div class="prod_title">BANDERA BURGOS CF</div>
            <p class="details">Bandera con el escudo del equipo.</p>
            <a href="#" class="more">- MAS DETALLES -</a>
            <div class="clear"></div>
          </div>
          <div class="box_bottom"></div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="feat_prod_box">
        <div class="prod_img"><a href="#"><img src="images/scarf.jpg" alt="" border="0" /></a></div>
        <div class="prod_det_box">
          <div class="box_top"></div>
          <div class="box_center">
            <div class="prod_title">BUFANDA BURGOS CF</div>
            <p class="details">Bufanda con el nombre y escudo del equipo.</p>
            <a href="#" class="more">- MAS DETALLES -</a>
            <div class="clear"></div>
          </div>
          <div class="box_bottom"></div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="footer">
    <div class="left_footer"><img src="images/footer_logo.gif" alt="" /><br />
    <div class="right_footer"> <a href="index.html">Inicio</a> <a href="clothes.html">Ropa</a> <a href="accesories.html">Accesorios</a> <a href="contact.html">Contacto</a> </div>
  </div>
</div>
</body>
</html>
