<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Burgos CF Store</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
  <div id="wrap">
    <div class="header">
      <div class="logo"><a href="/index.html"><img src="/images/logo.png" alt="" border="0" /></a></div>
      <div id="menu">
        <ul>
          <li><a href="/index.html">INICIO</a></li>
          <li class="selected"><a href="/clothes">ROPA</a></li>
          <li><a href="/myaccount">MI CUENTA</a></li>
          <li><a href="/contact.html">CONTACTO</a></li>
          <li><a href="/cart">CESTA</a></li>
        </ul>
      </div>
    </div>
    <div class="center_content">
      <div class="left_content">
        <div class="title"><span class="title_icon"><img src="/images/bullet0.png" alt="" /></span>FORMULARIO</div>
        <div class="clear"></div>
        <div class="login_form">
          <form id="productForm" action="/add-product" method="post" enctype="multipart/form-data">
            <input type="hidden" id="id" name="id" value="{{product.id}}" />
            <div class="form_row">
              <label class="contact"><strong>Nombre:</strong></label>
              <input type="text" id="name" name="name" class="contact_input" value="{{product.name}}" required />
            </div>
            <div class="form_row">
              <label class="contact"><strong>Descripción:</strong></label>
              <textarea id="description" name="description" class="contact_input" required>{{product.description}}</textarea>
            </div>
            <div class="form_row">
              <label class="contact"><strong>Precio:</strong></label>
              <input type="number" id="price" name="price" class="contact_input" min="0.01" step="0.01" value="{{product.price}}" required />
            </div>
            <div class="form_row">
              <label class="contact"><strong>Imagen:</strong></label>
              <input type="file" id="image" name="image" accept=".jpg, .png" class="contact_input" required />
            </div>
            <div class="form_row">
              <button type="submit" form="productForm" class="register">Enviar producto</button>
            </div>
          </form>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="footer">
      <div class="left_footer"><img src="/images/footer_logo.jpg" alt="" /><br /></div>
      <div class="right_footer">
        <a href="/index.html">Inicio</a>
        <a href="/clothes">Ropa</a>
        <a href="/myaccount">Mi cuenta</a>
        <a href="/contact.html">Contacto</a>
        <a href="/cart">Cesta</a>
      </div>
    </div>
  </div>
</body>
</html>
