<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Burgos CF Store</title>
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
  <div id="wrap">
    <div class="header">
      <div class="logo"><a href="index.html"><img src="images/logo.png" alt="" border="0" /></a></div>
      <div id="menu">
        <ul>
          <li><a href="index.html">INICIO</a></li>
          <li><a href="clothes.html">ROPA</a></li>
          <li><a href="accesories.html">ACCESORIOS</a></li>
          <li><a href="myaccount.html">MI CUENTA</a></li>
          <li><a href="contact.html">CONTACTO</a></li>
          <li><a href="cart.html">CESTA</a></li>
        </ul>
      </div>
    </div>
    <div class="center_content">
      <div class="left_content">
        <div class="title"><span class="title_icon"><img src="images/bullet0.jpg" alt="" /></span>FORMULARIO</div>
        <div class="clear"></div>
        <form id="productForm" action="/submit" method="post" enctype="multipart/form-data">
          <label for="name">Nombre:</label><br>
          <input type="text" id="name" name="name"><br>
          <label for="description">Descripción:</label><br>
          <textarea id="description" name="description"></textarea><br>
          <label for="price">Precio:</label><br>
          <input type="text" id="price" name="price"><br>
          <label for="image">Imagen:</label><br>
          <input type="file" id="image" name="image"><br>
        </form>
      </div>
      <div class="right_content">
        <button type="submit" form="productForm">Enviar producto</button>
      </div>
      <div class="clear"></div>
    </div>
    <div class="footer">
      <div class="left_footer"><img src="images/footer_logo.gif" alt="" /><br /></div>
      <div class="right_footer">
        <a href="index.html">Inicio</a>
        <a href="clothes.html">Ropa</a>
        <a href="accesories.html">Accesorios</a>
        <a href="contact.html">Contacto</a>
      </div>
    </div>
  </div>
</body>
</html>
