<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Burgos CF Store</title>
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div id="wrap">
  <div class="header">
    <div class="logo"><a href="#"><img src="images/logo.png" alt="" border="0" /></a></div>
    <div id="menu">
      <ul>
        <li class="selected"><a href="index.html">INICIO</a></li>
        <li><a href="ropa.html">ROPA</a></li>
        <li><a href="ropa.html">ACCESORIOS</a></li>
        <li><a href="myaccount.html">MI CUENTA</a></li>
        <li><a href="contact.html">CONTACTO</a></li>
        <li><a href="cart.html">CESTA</a></li>
      </ul>
    </div>
  </div>
  <div class="center_content">
    <!--end of left content-->
    <div class="right_content">
      <div class="cart">
        <div class="title"><span class="title_icon"><img src="images/cart.gif" alt="" /></span>CESTA</div>
        <div class="home_cart_content"> 0 x items | <span class="red">TOTAL: 0€</span> </div>
        <a href="cart.html" class="view_cart">VIEW CART</a> </div>
    </div>
    <!--end of right content-->
    <div class="clear"></div>
  </div>
  <!--end of center content-->
  <div class="footer">
    <div class="left_footer"><img src="images/footer_logo.gif" alt="" /><br />
    <div class="right_footer"> <a href="#">Inicio</a> <a href="#">Sobre nosotros</a> <a href="contact.html">Contacto</a> </div>
  </div>
</div>
</body>
</html>
