<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Burgos CF Store</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
  <div id="wrap">
    <div class="header">
      <div class="logo"><a href="/"><img src="/images/logo.png" alt="" border="0" /></a></div>
      <div id="menu">
        <ul>
          <li><a href="/">INICIO</a></li>
          <li class="selected"><a href="/clothes/">ROPA</a></li>
          <li><a href="/myaccount/">MI CUENTA</a></li>
          <li><a href="/contact/">CONTACTO</a></li>
          <li><a href="/cart/">CESTA</a></li>
        </ul>
      </div>
    </div>
    <div class="center_content">
      <div class="left_content">
        <div class="title"><span class="title_icon"><img src="/images/bullet0.png" alt="" /></span>PRODUCTOS</div>
        {{#products}}
        <div class="feat_prod_box">
          <div class="prod_img">
            <img src="data:image/jpeg;base64,{{imageBase64}}" alt="{{name}}" border="0" class="product-image" />
          </div>
          <div class="prod_det_box">
            <div class="box_top"></div>
            <div class="box_center">
              <div class="prod_title">{{name}}</div>
              <p class="details">{{description}}</p>
              <p class="price">Precio: {{price}}€</p>
              <button onclick="window.location.href='/view/{{id}}/'">Más información</button>
              <div class="clear"></div>
            </div>
            <div class="box_bottom"></div>
          </div>
          <div class="clear"></div>
        </div>
        {{/products}}
        <div class="clear"></div>
        <div>
          <nobr>
            {{#hasPrev}}
            <a href="{{#isSearch}}/search-products/{{/isSearch}}{{^isSearch}}/clothes/{{/isSearch}}?page={{prev}}{{#isSearch}}&name={{#name}}{{name}}{{/name}}&description={{#description}}{{description}}{{/description}}&price={{#price}}{{price}}{{/price}}{{/isSearch}}">
              Anterior
            </a>&nbsp;&nbsp;&nbsp;
            {{/hasPrev}}
            {{#hasNext}}
            <a href="{{#isSearch}}/search-products/{{/isSearch}}{{^isSearch}}/clothes/{{/isSearch}}?page={{next}}{{#isSearch}}&name={{#name}}{{name}}{{/name}}&description={{#description}}{{description}}{{/description}}&price={{#price}}{{price}}{{/price}}{{/isSearch}}">
              Siguiente
            </a>
            {{/hasNext}}
          </nobr>
        </div>
      </div>
      <div class="right_content">
        <div class="title"><span class="title_icon"><img src="/images/bullet0.png" alt="" /></span>BUSCAR PRODUCTOS</div>
        <div class="clear"></div>
        <form action="/search-products/" method="get">
          <label for="name">Nombre:</label>
          <input type="text" id="name" name="name" />
          <div class="clear"></div>
          <label for="description">Descripción:</label>
          <input type="text" id="description" name="description" />
          <div class="clear"></div>
          <label for="price">Precio:</label>
          <input type="number" id="price" name="price" step="0.01" min="0.01" />
          <div class="clear"></div>
          <button type="submit" class="button-spacing">Buscar</button>
        </form>
        <div class="clear"></div>
        <div class="title"><span class="title_icon"><img src="/images/bullet0.png" alt="" /></span>AÑADIR PRODUCTOS</div>
        <div class="clear"></div>
        <form action="/add-product/" method="get"><button type="submit" class="button-spacing">Añadir</button></form>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="footer">
      <div class="left_footer"><img src="/images/footer_logo.jpg" alt="" /><br /></div>
      <div class="right_footer">
        <a href="/">Inicio</a>
        <a href="/clothes/">Ropa</a>
        <a href="/myaccount/">Mi cuenta</a>
        <a href="/contact/">Contacto</a>
        <a href="/cart/">Cesta</a>
      </div>
    </div>
  </div>
</body>

</html>