<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Burgos CF Store</title>
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
  <div id="wrap">
    <div class="header">
      <div class="logo"><a href="index.html"><img src="images/logo.png" alt="" border="0" /></a></div>
      <div id="menu">
        <ul>
          <li><a href="index.html">INICIO</a></li>
          <li><a href="clothes.html">ROPA</a></li>
          <li><a href="accesories.html">ACCESORIOS</a></li>
          <li><a href="myaccount.html">MI CUENTA</a></li>
          <li class="selected"><a href="contact.html">CONTACTO</a></li>
          <li><a href="cart.html">CESTA</a></li>
        </ul>
      </div>
    </div>
    <div class="center_content">
      <div class="left_content">
        <div class="title"><span class="title_icon"><img src="images/bullet0.jpg" alt="" /></span>CONTACTO</div>
        <div class="clear"></div>
        <div class="contact_info">
          <p>Correo Electrónico: <a href="mailto:info@burgoscf.com">tienda@bcf.es</a></p>
          <p>Teléfono: +34 947 123 456</p>
        </div>
      </div>
      <div class="right_content">
        <div class="title"><span class="title_icon"><img src="images/bullet0.jpg" alt="" /></span>UBICACIÓN</div>
        <div class="clear"></div>
        <div class="mapa">
          <p>Oficinas del Burgos CF:</p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5897.795713889715!2d-3.6840111242076246!3d42.34470103607222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd45fcb82d1b6b2d%3A0xa1a14902de3ab488!2sOficinas%20del%20Burgos%20CF!5e0!3m2!1ses!2ses!4v1740052915536!5m2!1ses!2ses" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="footer">
      <div class="left_footer"><img src="images/footer_logo.gif" alt="" /><br /></div>
      <div class="right_footer">
        <a href="index.html">Inicio</a>
        <a href="clothes.html">Ropa</a>
        <a href="accesories.html">Accesorios</a>
        <a href="contact.html">Contacto</a>
      </div>
    </div>
  </div>
</body>
</html>
