<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Burgos CF Store</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
  <div id="wrap">
    <div class="header">
      <div class="logo"><a href="index.html"><img src="images/logo.png" alt="" border="0" /></a></div>
      <div id="menu">
        <ul>
          <li class="selected"><a href="index.html">INICIO</a></li>
          <li><a href="clothes.html">ROPA</a></li>
          <li><a href="myaccount.html">MI CUENTA</a></li>
          <li><a href="contact.html">CONTACTO</a></li>
          <li><a href="cart.html">CESTA</a></li>
        </ul>
      </div>
    </div>
    <div class="center_content">
      <div class="left_content">
        <div class="title"><span class="title_icon"><img src="images/bullet0.jpg" alt="" /></span>SOBRE EL CLUB</div>
        <div class="clear"></div>
        <div class="description">
          <p>El Burgos CF es un club de fútbol español con una rica historia y una apasionada base de seguidores. Fundado en 1922, el club ha competido en varias divisiones del fútbol español y ha dejado una marca indeleble en la comunidad local. Nuestro objetivo es promover el deporte y los valores del fútbol, tanto dentro como fuera del campo.</p>
          <p>Actualmente, el Burgos CF juega en la Segunda División de España, conocida como LaLiga SmartBank. El club sigue trabajando arduamente para ascender a la Primera División y competir con los mejores equipos del país.</p>
          <p>Los orígenes del Burgos CF se remontan a principios del siglo XX, cuando un grupo de jóvenes entusiastas del fútbol decidió formar un equipo para competir en torneos locales. Con el tiempo, el club fue ganando popularidad y se estableció como una institución deportiva importante en la región de Castilla y León.</p>
          <p>La afición del Burgos CF es conocida por su lealtad y pasión. Los abonados del club son una parte fundamental de su éxito, apoyando al equipo en cada partido, ya sea en casa o fuera. La comunidad de seguidores del Burgos CF crea una atmósfera única en El Plantío, haciendo del estadio un verdadero fortín para el equipo. En la Campaña de Abonados 2019-2020, en 2.ª División B, el club superó por primera vez los 5000 abonados. Cuenta con 16 peñas de aficionados, una Grada de Animación (La Hinchada del Arlanzón) en la grada baja del Fondo Sur y una asociación de pequeños accionistas (APABCF).</p>
          <img src="images/aficion.jpg" alt="Afición del Burgos CF" />
        </div>
      </div>
      <div class="right_content">
        <div class="title"><span class="title_icon"><img src="images/bullet0.jpg" alt="" /></span>ESCUDOS</div>
        <div class="clear"></div>
        <div class="escudos">
          <img src="images/escudo.jpg" alt="Escudos del Burgos CF" />
        </div>
        <div class="title"><span class="title_icon"><img src="images/bullet0.jpg" alt="" /></span>ESTADIO</div>
        <div class="clear"></div>
        <div class="estadio">
          <p>El estadio del Burgos CF es El Plantío, un recinto con capacidad para más de 12,000 espectadores. Inaugurado en 1964, El Plantío ha sido testigo de innumerables partidos emocionantes y es conocido por su atmósfera vibrante y apasionada. Es el hogar de los seguidores del Burgos CF y un símbolo de la historia y tradición del club.</p>
          <img src="images/plantio.jpg" alt="Estadio El Plantío" />
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="footer">
      <div class="left_footer"><img src="images/footer_logo.gif" alt="" /><br /></div>
      <div class="right_footer">
        <a href="index.html">Inicio</a>
        <a href="clothes.html">Ropa</a>
        <a href="myaccount.html">Mi cuenta</a>
        <a href="contact.html">Contacto</a>
        <a href="cart.html">Cesta</a>
      </div>
    </div>
  </div>
</body>
</html>
