<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Detalles del Producto</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
  <div id="wrap">
    <div class="header">
      <div class="logo"><a href="/"><img src="/images/logo.png" alt="" border="0" /></a></div>
      <div id="menu">
        <ul>
          <li><a href="/">INICIO</a></li>
          <li><a href="/clothes/">ROPA</a></li>
          <li class="selected"><a href="/myaccount/">MI CUENTA</a></li>
          <li><a href="/contact/">CONTACTO</a></li>
          <li><a href="/cart/">CESTA</a></li>
        </ul>
      </div>
    </div>
    <div class="center_content">
      <div class="left_content">
        <div class="feat_prod_box">
          <div class="prod_det_box">
            <div class="box_top"></div>
            <div class="box_center">
              <div class="prod_title">Pedido Nº{{order.id}}</div>
              <div class="details">
                {{#products}}
                <div class="product-item">
                  <div class="prod_title">{{name}}</div>
                  <p class="details">{{description}}</p>
                  <p class="price">Precio: {{price}}€</p>
                </div>
                {{/products}}
              </div>
              <div class="clear"></div>
            </div>
            <div class="box_bottom"></div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="right_content">
        <div class="title"><span class="title_icon"><img src="/images/bullet0.png" alt="" /></span>ELIMINAR PEDIDO</div>
        <div class="clear"></div>
        <div class="feat_prod_box">
          <div class="prod_det_box">
            <form action="/delete-order/{{order.id}}/" method="post"><button type="submit">Eliminar pedido</button>
            </form>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="left_footer"><img src="/images/footer_logo.jpg" alt="" /><br /></div>
      <div class="right_footer">
        <a href="/">Inicio</a>
        <a href="/clothes/">Ropa</a>
        <a href="/myaccount/">Mi cuenta</a>
        <a href="/contact/">Contacto</a>
        <a href="/cart/">Cesta</a>
      </div>
    </div>
  </div>
</body>

</html>